* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.header, .content, .boxes, .quote-container, .action-container, .footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.header {
    background-color: #003459;
    color: #ffffff;
    justify-content: space-between;
    padding: 12px 64px;
}

.content {
    background-color: #003459;
    color: #ffffff;
    gap: 24px;
}

.left-content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: baseline;
}

.boxes {
    background-color: #ffffff;
    color: #00171f;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
}

.square {
    border: solid #00a8e8;
    border-radius: 8px;
    width: 96px;
    height: 96px;
    margin-bottom: 4px;
}

.quote-container {
    background-color: #d0d0d0;
}

.quote {
    color: #00171f;
    font-size: 16px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.action {
    background-color: #00a8e8;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 64px;
    border-radius: 4px;
}

.left-action {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer {
    background-color: #003459;
    color: #ffffff;
    padding: 12px 64px;
}

ul {
    font-size: 14px;
    text-align: center;
    display: flex;
    list-style-type: none;
    gap: 32px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

button {
    background-color: #00a8e8;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 4px;
}

strong {
    font-size: 14px;
}

.second {
    border: solid #ffffff;
    border-width: 1px;
}